<div ng-controller="typeaheadController">
    <div class="row form-inline">
      <div class="field col-sm-6">
        <input type="text" ng-model="selectedPlayer" placeholder="Player" typeahead="player as player.name for player in getPlayers($viewValue)" typeahead-loading="loadingPlayers" class="form-control">
        <i ng-show="loadingPlayers" class="glyphicon-refresh glyphicon"></i>
      </div>
      <div class="field col-sm-2">
        <input type="number" min="0" placeholder="Score" ng-model="input" class="form-control">
      </div>
      <div class="action col-xs-4 score_button">
        <button ng-click="createScore()" class="btn btn-primary test"> Add Score </button>
      </div>
    </div>
</div>
