<div class="container well text-center">
  <h1> <%= link_to 'Charlotte Disc Golf Leagues', root_path %> </h1>
</div>

<div class="container">
  <%= link_to 'Back', :back %> |
  <%= link_to 'Home', root_path %>
</div>